<div class="container mt-5">
  <div class="row py-3">
    <div class="col">
      <button class="btn btn-primary" (click)="onNewMovie()">New Movie</button>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col" *ngFor="let movie of movies">
      <div class="card h-100">
        <img
          [src]="movie.posterUrl"
          class="card-img-top img-fluid"
          alt="{{ movie.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.name }}</h5>
          <p class="card-text">{{ movie.releaseDate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
